<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Display Puppy</title>
  </head>
  <body>
    <h1>Puppy Information</h1>
      <p>Puppy Name: <%= @puppy.name %></p>
      <p>Puppy Breed: <%= @puppy.breed %></p>
      <p>Puppy Age: <%= @puppy.age %></p>
  </body>
</html>
