<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppies!</title>
  </head>
  <body>
    <h1> Welcome to the puppy adoption site!</h1>
    <a href="/new">Click Here To List A Puppy</a>
  </body>
</html>
